bin/
obj/
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

**/Uploads/
**/CompletedUploads/

**/node_modules/
**/.angular/
**/dist/
**/out-tsc/
.npm/
npm-debug.log*

.DS_Store
Thumbs.db
appsettings.Development.json
